version    2.0

config setup
    dumpdir=/var/run/pluto/
    nat_traversal=yes
    oe=off
    protostack=auto

conn link
    type=tunnel
    authby=secret
    left={{ inventory_hostname }}
    leftsubnet={{ my_subnet }}
    # Right security gateway, subnet behind it, nexthop toward left.
    right={{ right_ip }}
    rightsubnet={{ other_subnet }}
    aggrmode=no
    auto=start
