version    2.0

config setup
    dumpdir=/var/run/pluto/
    nat_traversal=yes
    oe=off
    protostack=netkey

conn link
    type=tunnel
    authby=secret

    left={{ inventory_hostname }}
    leftsubnet={{ my_subnet }}

    right={{ right_ip }}
    rightsubnet={{ other_subnet }}
    rightnexthop={{ inventory_hostname }}

    aggrmode=no
    auto=start
