{% for slave in groups['slaves'] %}
define host{
    use                 linux-snmp
	contact_groups		admins
    host_name           {{ slave }}
    address             {{ hostvars[slave].ansible_default_ipv4.address }}
}
{% endfor %}
