INSERT INTO domain_admins (username, domain, active) VALUES ('admin@{{ mail_domain }}','ALL','1');
INSERT INTO admin (username, password,superadmin,active) VALUES ('admin@{{ mail_domain }}','{{ password_admin }}','1','1');
