<VirtualHost *:80>
        ServerAdmin root@{{ mail_domain }}
        ServerName {{ mail_domain }}
RewriteEngine   on
RewriteCond     %{SERVER_PORT} ^80$
RewriteRule     ^(.*)$ https://{{ mail_domain }}$1 [L,R]
#RewriteLog      "/var/log/apache2/rewrite.log"
#RewriteLogLevel 2
</VirtualHost>
<IfModule mod_ssl.c>
<VirtualHost *:443>
        ServerAdmin root@{{ mail_domain }}
        Servername {{ mail_domain }}
        DocumentRoot /var/www/cw
        ErrorLog "/var/log/apache2/vhost-error_log"
        TransferLog "/var/log/apache2/vhost_log"

SSLEngine on
SSLCertificateFile /etc/ssl/certs/mailserver.pem
SSLCertificateKeyFile /etc/ssl/private/mailserver.pem
BrowserMatch ".*MSIE.*" \
        nokeepalive ssl-unclean-shutdown \
        downgrade-1.0 force-response-1.0
</VirtualHost>
</IfModule>
