<div class="container" ng-controller="ContactController" ng-if="requiresAuth()" style="padding: 20px; width: 800px; background: white; margin-top: 20px; border-radius: 20px;">
<h1>Content not found</h1>
<div>
 <div ng-if="auth">
   <div>Welcome, {{ auth.access.user.name }}</div>
   <ul>
    <li><a href="#/dashboard">Dashboard</a></li>
    <li><a href="#/logout">Logout</a></li>
   </ul>
 </div>
 <div ng-if="!auth">
 You are not logged in, you can logon in the
 <a href="#/login">Login</a> page.
</div>
</div>